<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LanguageChanger.Properties.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="LanguageChanger.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LanguageChanger.Properties.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="LanguageChanger.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LanguageChanger.Properties.App>
            <setting name="lockfile_path" serializeAs="String">
                <value />
            </setting>
            <setting name="lockfile_password" serializeAs="String">
                <value />
            </setting>
            <setting name="lockfile_port" serializeAs="String">
                <value />
            </setting>
            <setting name="lockfile_token" serializeAs="String">
                <value />
            </setting>
            <setting name="local_user" serializeAs="String">
                <value />
            </setting>
            <setting name="local_tag" serializeAs="String">
                <value />
            </setting>
            <setting name="metadata_path" serializeAs="String">
                <value />
            </setting>
            <setting name="metadata_productsettings" serializeAs="String">
                <value />
            </setting>
            <setting name="local_gamepath" serializeAs="String">
                <value />
            </setting>
            <setting name="local_lang" serializeAs="String">
                <value />
            </setting>
            <setting name="all_lang" serializeAs="String">
                <value />
            </setting>
            <setting name="selected_lang" serializeAs="String">
                <value />
            </setting>
            <setting name="current_theme" serializeAs="String">
                <value>1</value>
            </setting>
        </LanguageChanger.Properties.App>
        <LanguageChanger.App>
            <setting name="lockfile_path" serializeAs="String">
                <value />
            </setting>
            <setting name="lockfile_password" serializeAs="String">
                <value />
            </setting>
            <setting name="lockfile_port" serializeAs="String">
                <value />
            </setting>
            <setting name="lockfile_token" serializeAs="String">
                <value />
            </setting>
            <setting name="local_user" serializeAs="String">
                <value />
            </setting>
            <setting name="local_tag" serializeAs="String">
                <value />
            </setting>
            <setting name="metadata_path" serializeAs="String">
                <value />
            </setting>
            <setting name="metadata_productsettings" serializeAs="String">
                <value />
            </setting>
            <setting name="local_gamepath" serializeAs="String">
                <value />
            </setting>
            <setting name="local_lang" serializeAs="String">
                <value />
            </setting>
            <setting name="all_lang" serializeAs="String">
                <value />
            </setting>
            <setting name="selected_lang" serializeAs="String">
                <value />
            </setting>
            <setting name="current_theme" serializeAs="String">
                <value>1</value>
            </setting>
        </LanguageChanger.App>
    </userSettings>
    <applicationSettings>
        <LanguageChanger.Properties.App>
            <setting name="debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="baselink" serializeAs="String">
                <value>http://85.10.200.74/langchanger/</value>
            </setting>
        </LanguageChanger.Properties.App>
        <LanguageChanger.App>
            <setting name="debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="baselink" serializeAs="String">
                <value>https://mirror.mvp.re/langchanger/</value>
            </setting>
        </LanguageChanger.App>
    </applicationSettings>
</configuration>